/* placeholder text */
.text {
    text-align: center;
}

/* Posts at index.html */

.container-posts {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.container-posts .card-posts {
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 15px;
    cursor: pointer;
    text-align: left;
}

.container-posts .card-posts img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.container-posts .card-posts h3 {
    margin: 15px 0 10px;
} 

.container-posts .card-posts p {
    color: #555;
}

.container-posts .card-posts .data-posts {
    font-size: 14px;
    color: #888;
}

/* Posts at post.html */

.post-content {
    padding: 20px;
    background-color: #ccc;
    max-width: 1200px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.post-content .img {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.post-content h1{
    text-align: center;
    font-size: 3rem;
}

.post-content p {
    text-align: center;
}

.post-content p.metadata {
    font-size: 0.9rem;
    color: #333;
}

.post-content p.excerpt {
    font-size: 0.75rem;
    color:#555;
}

.post-content p.post-text {
    font-size: 1.1rem;
}


/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.navbar .container-logo {
    font-size: 1.5rem;
}

.navbar .container-navbar {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar .container-navbar li {
    margin: 0px;
}

.navbar .container-navbar li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.container-navbar li a:hover {
    background-color: #555;
}

.navbar .container-navbar li .nav-btn {
    font-size: 1.1rem;
    color: #fff;
    background: none;
    text-decoration: none;
    padding: 8px 16px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

.navbar .container-navbar li .nav-btn:hover {
    background-color: #555;
}

/* Mobile Menu */

.mobile-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    position: fixed;
    top: 8px;
    height: 25%;
    right: 0;
}

.mobile-menu .container-mobile-menu{
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 50px;
    margin-right: 10px;
}

.mobile-menu .container-mobile-menu li {
    margin-right: 23px;
}

.mobile-menu .container-mobile-menu li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
}

.mobile-menu .container-mobile-menu li a:hover {
    background-color: #555;
}

.mobile-menu .container-mobile-menu li .nav-btn {
    font-size: 1.1rem;
    color: #fff;
    background: none;
    text-decoration: none;
    padding: 8px 16px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

.mobile-menu .container-mobile-menu li .nav-btn:hover {
    background-color: #555;
}

/* Footer */

.footer .container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 10px;
    background-color: #333;
    height: 20%;
}

.footer .container-footer p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    bottom: 10px;
    background-color: #333;
    height: 20%;
    text-decoration: none;
}
.footer .container-footer p a {
    text-decoration: none;
    color: #ccc;
}

/* Media Queries */

@media (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

@media (max-width: 768px) {
    .navbar .container-navbar {
        display: none;
    }
}